.footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
    margin: 0px 0px 0px 0px;
    color: rgb(172, 172, 172);
}

p { 
    margin: 0;
    padding: 0;
    font-size: 12px;
}