<section class="system-architecture">
    <h1 class="heading">
        System Archetecture
    </h1>
    <p class="heading-text">
        End-to-end data flow visualization
    </p>
    
    <styled-card class="diagram">
        @for (step of steps; track step.key; let i = $index) {
            <div class="diagram-node" [class.active]="diagramUploadStep >= i + 1">
                <div class="node-icon" [ngClass]="'icon-' + step.key">
                    <img class="node-svg" [src]="step.icon" alt="" [ngClass]="'icon-' + step.key" />
                </div>

                <p class="node-label">{{ step.label }}</p>
            </div>
        }
    </styled-card>
</section>