.system-architecture {
    display: flex;
    flex-direction: column;
    color: white;
    margin: 30px 0 50px 0;
}

.heading {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

.heading-text {
    margin: 4px 0 30px 0;
    color: rgb(255, 255, 255, 0.6);
}
    
.diagram {
    display: flex;
    gap: 50px;
    padding: 40px 40px 40px 40px;
    font-size: 15px;
}

.diagram-node {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.node-label {
    margin: 0;
    font-size: 14px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.65);
}