:host(.header) h1 {
    font-size: 4vw;
    margin: 2vh 2vw;
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    @media (max-width: 768px) {
        font-size: 12vw;
        margin: 2vh 2vw;
        margin: 1vh 2vw;
    }
}