.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.header-inner {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 7px 30px 15px 30px;
}

.title {
    color: rgb(255, 255, 255);
    margin: 0;
    font-size: 28px;
}

.secondary-text {
    color: rgb(25, 127, 230);
}

.action-button {
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 127, 230);
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 10px;
    font-weight: 700;
}
