:host(.styled-card) {
    display: flex;
    align-items: center; 
    justify-content: center;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}