:host(.styled-card) {
    display: inline-flex;
    border: 1px solid #9800f0;
    border-radius: 10px;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    margin: 1vh 0.5vw 1vh 0.5vw;
    background: rgb(255, 255, 255);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
    text-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    align-items: center; 
    justify-content: center;

    @media (max-width: 768px) {
        padding: 0.5vh 2vw 0.5vh 2vw;
    }
}
