<section>
    <input #picker type="file" class="file-input" (change)="onFileChange(picker.files)" requiredFileType="qid">

    <button type="button" class="btn" (click)="picker.click()">
        Choose file
    </button>

    <span class="file-name" [hidden]="!file">
        {{ file?.name }}
        <br/>
        <progress [hidden]="uploadProgress === 0" [value]="uploadProgress ?? 0" max="100"></progress>
    </span>

    <button type="button" class="btn-secondary" (click)="submit()" [disabled]="!file">
        Submit
    </button>
</section>