section {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.file-uploader { 
    display: flex; 
    gap: .5em
}

.file-input { 
    display: none
}

.btn, .btn-secondary {
    margin: .2em;
    padding: .4em .6em; 
    border-radius: .5em; 
}

.file-name {
    opacity: .85;
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0 0.25em
}
