.data-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 0 200px 0;
}

.heading {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

svg {
    vertical-align: middle;
    margin: 0 4px 5px 0;
    color: rgb(23, 120, 216);
}

.small-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 30px 0 20px 0;
}

.small-card{
    padding: 20px 110px
}

.big-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.big-card{
    padding: 100px 200px
}