.data-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 0 50px 0;
}

.heading {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
}

svg {
    vertical-align: middle;
    color: rgb(23, 120, 216);
    border-radius: 5px;
    margin: 0 0 6px 0;
    padding: 5px;
    height: 26px;
    width: 26px;
}

.small-cards{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0 30px 0;
}

.small-cards-2{
    margin: 0px 0 30px 0;
}

.small-card {
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    width: 285px
}

.small-card-heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: rgba(213, 219, 233, 0.8);
    line-height: 1.5;
}

.small-card-text{
    margin: 5px 0 18px 0;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    align-self: flex-start;
    font-weight: 700;
}

.small-cards svg {
    height: 18px;
    width: 18px;
    background: rgb(20, 67, 114, 0.3);
    margin: 0 0 0 0;
    padding: 7px;
    vertical-align: -2px;
}

.small-cards-side-text {
    color: rgba(146, 160, 190, 0.75);
    font-size: 12px;
    margin: 0 0 0 15px;
}

.big-cards-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}


.big-cards{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.big-card{
    display: flex;
    flex-direction: column;
    width: 505px;
    padding: 0px 20px 10px 20px;
    gap: 20px
}

.big-card-heading{
    align-self: flex-start;
    font-weight: 500;
    margin: 12px 0 0 0
}

.chart {
    width: 510px;
    height: 275px
}

.montlhy-spend-chart {
    width: 480px;
    height: 275px
}

.donut-chart { 
    width: 425px;
    height: 275px
}